<div id="sidebar">
  <div class="sidebar-wrapper">
    <div class="sidebar-header-wrapper">
      <h3 class="sidebar-header">
        Категории товаров
      </h3>
    </div>

    <ul class="sidebar-content">
      {{#link-to 'index' tagName='li'}}
        {{link-to 'Котельное оборудование' 'index'}}
      {{/link-to}}

      {{#link-to 'contacts' tagName='li'}}
        {{link-to 'Насосное оборудование' 'contacts'}}
      {{/link-to}}

      {{#link-to 'contacts' tagName='li'}}
        {{link-to 'Радиаторы' 'contacts'}}
      {{/link-to}}

      {{#link-to 'contacts' tagName='li'}}
        {{link-to 'Трубы и фитинги' 'contacts'}}
      {{/link-to}}

      {{#link-to 'contacts' tagName='li'}}
        {{link-to 'Канализация' 'contacts'}}
      {{/link-to}}

      {{#link-to 'contacts' tagName='li'}}
        {{link-to 'Запорная арматура' 'contacts'}}
      {{/link-to}}

      {{#link-to 'contacts' tagName='li'}}
        {{link-to 'Системы теплого пола' 'contacts'}}
      {{/link-to}}

      {{#link-to 'contacts' tagName='li'}}
        {{link-to 'Энергия солнца' 'contacts'}}
      {{/link-to}}
    </ul>
  </div>
</div>