<div class="carousel slide" id="ekoCarousel" data-ride="carousel">

  {{!-- Indicators --}}
  <ol class="carousel-indicators">
    <li data-slide-to="0" data-target="#ekoCarousel" class="active" ></li>
    <li data-slide-to="1" data-target="#ekoCarousel"></li>
    <li data-slide-to="2" data-target="#ekoCarousel"></li>
  </ol>

  {{!-- Slide wrapper --}}
  <div class="carousel-inner">
    <div class="item active" id="slide1">
      <div class="carousel-caption">
        <h4>EkoTERM</h4>
        <p>Responsive shopping cart application</p>
      </div>
    </div>

    <div class="item" id="slide2">
      <div class="carousel-caption">
        <h4>Краны и вентили</h4>
        <p>Закрути их всех</p>
      </div>
    </div>

    <div class="item" id="slide3">
      <div class="carousel-caption">
        <h4>Фильтры всех типов</h4>
        <p>Отфильтруй всё от всего</p>
      </div>
    </div>
  </div>{{!-- carousel-inner --}}

  {{!-- Controls --}}
  <a href="#ekoCarousel" class="left carousel-control" data-slide="prev"><span class="icon-prev"></span></a>
  <a href="#ekoCarousel" class="right carousel-control" data-slide="next"><span class="icon-next"></span></a>

</div>{{!-- end ekoCarousel --}}

<div class="row" id="bigCallout">
  <div class="col-md-12">

    {{#if isAlertNeeded}}
      {{#bs-alert type="success"}}
        <h4>Success!</h4>
        <p>You just made this element display by using jQuery</p>
      {{/bs-alert}}
    {{/if}}

    {{!-- Visible only on small devices --}}
    <div class="well well-small visible-xs">
      {{#link-to "about" class="btn btn-lg btn-block btn-default"}}
        <span class="glyphicon glyphicon-phone"> Позвоните нам!</span>
      {{/link-to}}
    </div>{{!-- end well-small --}}

    <div class="well">
      <div class="page-header">
        <h1>A Fancy Header <small>A subheader for extra awesome</small></h1>
      </div>{{!-- end page-header --}}

      <p class="lead">Some solid leading copy will help get your users engaged. Use this area to come up with something real nice.</p>

      {{link-to "About" "about" class="btn btn-lg btn-primary"}}
      {{link-to "A secondary link" "about" class="btn btn-lg btn-link"}}
      <button class="btn btn-lg btn-link" {{action "toggleAlert"}}>
        Toggle alert
      </button>
    </div>{{!-- end well --}}
  </div>{{!-- end col-12 --}}
</div>{{!-- end bigCallout --}}

<div class="row" id="featuresHeading">
  <div class="col-md-12">
    <h2>Больше продуктов</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

<div class="row" id="features">
  <div class="col-sm-4 feature">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Кран Маевского</h3>
      </div>

      <div class="panel-body">
        <img src="images/maevsk_01.jpg" alt="Кран Маевского" class="img-thumbnail">

        <p>Супер кран маевского с полной закруткой и латунной откруткой</p>

        {{link-to "Заказать" "about" class="btn btn-warning btn-block"}}
      </div>
    </div>
  </div>{{!-- end feature --}}

  <div class="col-sm-4 feature">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Кран Маевского 2</h3>
      </div>

      <div class="panel-body">
        <img src="images/maevsk_02.jpg" alt="Кран Маевского" class="img-thumbnail">

        <p>Супер кран маевского с полной закруткой и латунной откруткой</p>

        {{link-to "Заказать" "about" class="btn btn-danger btn-block"}}
      </div>
    </div>
  </div>{{!-- end feature --}}

  <div class="col-sm-4 feature">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Кран Маевского 3</h3>
      </div>

      <div class="panel-body">
        <img src="images/maevsk_03.jpg" alt="Кран 3" class="img-thumbnail">

        <p>Супер кран маевского с полной закруткой и латунной откруткой</p>

        {{link-to "Заказать сейчас" "about" class="btn btn-info btn-block"}}
      </div>
    </div>
  </div>{{!-- end feature --}}
</div>

<div class="row" id="moreInfo">
  <div class="col-sm-6">
    <h3>Next Tabbable Content</h3>

    {{bs-tabs-directions}}
  </div>{{!-- end col-sm-6 --}}

  <div class="col-sm-6">
    <h3>Some Text Info</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi iure animi laboriosam vitae, cumque sapiente quisquam excepturi earum minus ex facere reiciendis maxime possimus esse aperiam, nobis obcaecati alias id.</p>

    <h4>A List Group</h4>

    <div class="list-group">
      <a href="" class="list-group-item">
        <h4 class="list-group-item-heading">Kale</h4>
        <p class="list-group-item-text">Kale or borecole is a vegetable, in which the central leaves do no form a head.</p>
      </a>

      <a href="" class="list-group-item">
        <h4 class="list-group-item-heading">Carrots</h4>
        <p class="list-group-item-text">Kale or borecole is a vegetable, in which the central leaves do no form a head.</p>
      </a>

      <a href="" class="list-group-item">
        <h4 class="list-group-item-heading">Steel-cut parts</h4>
        <p class="list-group-item-text">Kale or borecole is a vegetable, in which the central leaves do no form a head.</p>
      </a>

      <a href="" class="list-group-item">
        <h4 class="list-group-item-heading">Kale</h4>
        <p class="list-group-item-text">Kale or borecole is a vegetable, in which the central leaves do no form a head.</p>
      </a>
    </div>{{!-- end list-group --}}

    <h5>A Small Heading</h5>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque ipsa, illo beatae! Dolores maiores aliquid fuga dicta accusamus assumenda in libero voluptatum provident dolorum doloremque aliquam, esse necessitatibus fugiat sint.</p>
  </div>{{!-- end col-sm-6 --}}
</div>{{!-- end moreInfo --}}

<hr>

<div class="row" id="moreProducts">
  <h3>Learn more about our products</h3>
  <div class="thumbnails row">
    <div class="col-xs-6">
      <div class="thumbnail">
        <img src="images/umyvalnik-cersanit-president-P045-500x500.jpg" alt="Cersanit President 6">

        <div class="label label-success price"><span class="glyphicon glyphicon-tag"></span> <sup>$</sup>39</div>

        <div class="caption">
          <h3>Умывальник Cersanit President 60 см</h3>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse asperiores pariatur nisi ullam rem sequi facere, consequatur error est nulla libero, suscipit, eius saepe consequuntur officia tempore doloremque debitis architecto.</p>

          <p><a href="https://www.google.com/" class="btn btn-primary" target="_blank">Купить раковину</a>
          <a href="https://www.google.com/" class="btn btn-small btn-link" target="_blank">Сравнить цены</a></p>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="thumbnail">
        <img src="images/1900_3t3yvn5s.mdx.jpg" alt="Раковина PT 55">

        <div class="label label-info price"><span class="glyphicon glyphicon-tag"></span><sup>$</sup>52</div>

        <div class="caption">
          <h3>Раковина PT 55 з/о (UA) UM-10-55-1</h3>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse asperiores pariatur nisi ullam rem sequi facere, consequatur error est nulla libero, suscipit, eius saepe consequuntur officia tempore doloremque debitis architecto.</p>

          <p><a href="https://www.google.com/" class="btn btn-primary" target="_blank">Купить раковину</a>
          <a href="https://www.google.com/" class="btn btn-small btn-link" target="_blank">Сравнить цены</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
