<div class="row" id="logoAndSearchBar">
<div class="col-xs-3">
  <h1 class="sitelogo">
    Eko<span class="warm">TERM</span>
  </h1>
  <span class="logoSlogan">Энергия солнца</span>
</div>

  <div class="col-xs-9 searchBar">
      {{item-search}}
    {{!-- <div class="col-xs-2">
      <button class="btn btn-lg btn-primary">Cart</button>
    </div> --}}
  </div>
</div>


<div class="row" id="menuAndCarousel">
  <div class="col-xs-3">
    {{hover-products-menu}}
  </div>

  <div class="col-xs-9">
    {{eko-carousel}}
  </div>
</div>

<div class="row" id="features">
  <div class="col-sm-4 feature">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Кран Маевского</h3>
      </div>

      <div class="panel-body">
        <img src="images/maevsk_01.jpg" alt="Кран Маевского" class="img-thumbnail">

        <p>Супер кран маевского с полной закруткой и латунной откруткой</p>

        {{link-to "Заказать" "contacts" class="btn btn-warning btn-block"}}
      </div>
    </div>
  </div>{{!-- end feature --}}

  <div class="col-sm-4 feature">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Кран Маевского 2</h3>
      </div>

      <div class="panel-body">
        <img src="images/maevsk_02.jpg" alt="Кран Маевского" class="img-thumbnail">

        <p>Супер кран маевского с полной закруткой и латунной откруткой</p>

        {{link-to "Заказать" "contacts" class="btn btn-danger btn-block"}}
      </div>
    </div>
  </div>{{!-- end feature --}}

  <div class="col-sm-4 feature">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Кран Маевского 3</h3>
      </div>

      <div class="panel-body">
        <img src="images/maevsk_03.jpg" alt="Кран 3" class="img-thumbnail">

        <p>Супер кран маевского с полной закруткой и латунной откруткой</p>

        {{link-to "Заказать сейчас" "contacts" class="btn btn-info btn-block"}}
      </div>
    </div>
  </div>{{!-- end feature --}}
</div>

<hr>

<div class="row" id="moreProducts">
  <h3>Learn more about our products</h3>
  <div class="thumbnails row">
    <div class="col-xs-6">
      <div class="thumbnail">
        <img src="images/umyvalnik-cersanit-president-P045-500x500.jpg" alt="Cersanit President 6">

        <div class="label label-success price"><span class="glyphicon glyphicon-tag"></span> <sup>$</sup>39</div>

        <div class="caption">
          <h3>Умывальник Cersanit President 60 см</h3>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse asperiores pariatur nisi ullam rem sequi facere, consequatur error est nulla libero, suscipit, eius saepe consequuntur officia tempore doloremque debitis architecto.</p>

          <p><a href="https://www.google.com/" class="btn btn-primary" target="_blank">Купить раковину</a>
          <a href="https://www.google.com/" class="btn btn-small btn-link" target="_blank">Сравнить цены</a></p>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="thumbnail">
        <img src="images/1900_3t3yvn5s.mdx.jpg" alt="Раковина PT 55">

        <div class="label label-info price"><span class="glyphicon glyphicon-tag"></span><sup>$</sup>52</div>

        <div class="caption">
          <h3>Раковина PT 55 з/о (UA) UM-10-55-1</h3>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse asperiores pariatur nisi ullam rem sequi facere, consequatur error est nulla libero, suscipit, eius saepe consequuntur officia tempore doloremque debitis architecto.</p>

          <p><a href="https://www.google.com/" class="btn btn-primary" target="_blank">Купить раковину</a>
          <a href="https://www.google.com/" class="btn btn-small btn-link" target="_blank">Сравнить цены</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
